*{
  margin: 0px;
  font-family: Arial, sans-serif;
}

header, nav, main, footer {
  display: flex;
  justify-content: center;
  text-transform: lowercase;
  letter-spacing: 0.35em;
}

header{
  padding: 60px 0px;
}

nav, footer{
  padding: 25px 0px;
}

/* Header */

h1{
  opacity: 0.5;
  font-size: 55px;
  text-shadow: 0px 4px 5px #151515;
}

.dark-header{
  background-image: linear-gradient(to top, #4c4272, #333356);
}

.light-header{
  background-image: linear-gradient(to top, #73c8dd, #3eaed1);
}

/* Nav */

.dark-nav, .dark-footer{
  background-color: #89899a;
}

.light-nav, .light-footer{
  background-color: 	#fff6cf;
}

.menu-item{
  display: inline;
  margin-right: 60px;
}

.mode-button{
  font-size: 15px;
  padding: 20px 40px;
}

.dark-nav .mode-button, .dark-main #timer-button{
  background-color: #1d0022;
  color: #beb7cb;
}

.light-nav .mode-button, .light-main #timer-button{
  background-color: #73c8dd;
  color: #000000;
}

.light-mode-button:hover, .dark-mode-button:hover, #timer-button:hover{
  opacity: 0.5;
}

.light-mode-button:active, .dark-mode-button:active, #timer-button:active{
  opacity: 1;
}

/* Main */

main{
 min-height: 470px;
 padding: 60px 0px;
   text-align: center;
}

.light-main{
 background-image: linear-gradient(to top, #0277a2, #73c8dd);
}

.dark-main{
 background-image: linear-gradient(to top, #333356, #4c4272);
}

.container{
  flex-direction: column;
  width: 500px;
}

#timer-container{
  display: inline;
}

#timer-container{
  margin: 30px 0px;
  font-size: 200px;
  font-weight: 900;
  opacity: 0.5;
  text-shadow: 0px 4px 5px #151515;
}

.timer-label, .timer-input{
  margin: 10px 10px;
}

.timer-label{
  width: 230px;
  display: inline-block;
}

.timer-input{
  width: 190px;
  border-radius: 30px;
  border: 0px solid;
  padding: 20px 20px;
  text-align: inherit;
}

#timer-button{
  width: 100%;
  margin: 10px 0px;
  background-color: #beb7cb;
  font-size: 20px;
  padding: 20px 0px;
  background-color: #230b3c;
}

.mode-button, #timer-button{
  border-radius: 30px;
  border: 0px solid;
  font-weight: 900;
  transition: opacity 0.5s;
  cursor: pointer;
}


@media only screen and (max-width: 500px) {

  h1{
    font-size: 35px;
  }

  .container{
    width: 350px;
  }

  .timer-input{
    width: 110px;
  }

  .timer-label{
    width: 130px;
    display: inline-block;
  }

  #timer-container{
    font-size: 120px;
  }

}
