*{
    margin: 0px;
    padding: 0px;

    font-family: Manrope;

    scroll-behavior: smooth;
}


html, #root, body, header, main, section{
    height: 100%;
    width: 100%;
}

main, section{

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(rgb(96, 128, 255), rgba(255, 255, 255, 0));

    background-repeat: no-repeat;
    background-size: cover;
    
}



