h1{
  margin-bottom: 20px;
}

#main-menu-nav{
  width: 400px;
  padding: 20px 40px;
  margin: 20px 0px;
  border-radius: 10px;
  box-shadow: 0px 2px 12px #a0a0a0;
  background-color: #ffe2e3;
}

.main-menu-item{
  margin-bottom: 10px;
}

.main-menu-item::marker{
  display: none;
}

.main-menu-link{
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
}

.main-menu-link:hover{
  opacity: 0.3;
  transition: opacity 0.5s;
}
