@media only screen and (max-width: 500px) {

  header{
    padding: 20px 20px;
  }

  #site-menu-nav{
    display: flex;
    justify-content: center;
    padding: 15px 0px;
  }

  main{
      padding: 15px 10px;
  }

  footer{
    padding: 15px 10px;
  }

  .main-paragraph-grid{
    display: block;
  }

  figure{
    margin-bottom: 20px;
  }

  input.main-contact-input{
    width: 90%;
  }

  textarea.main-contact-input{
    width: 90%;
    height: 200px;
  }


}
