*{
  margin: 0px;
  padding: 0px;
  font-family: Arial;
}

header{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding: 20px 0px;
  text-align: center;
  background-color: #cc641e;
  color: #ffffff;
  font-weight: 600;
}

main{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: #2a2a2a;

}

h1{
  text-transform: capitalize;
}

h2{
  font-size: 30px;
  margin-bottom: 20px;
}

.logo{
  width: 35px;
  margin-right: 20px;
  filter: invert(100%) brightness(100%) contrast(100%);
}

.place-container{
  display: grid;
  grid-template-columns: 300px 400px;
  column-gap: 20px;
  width: 800px;
  margin: 20px 0px;
  font-size: 14px;
}

.place-location{
  display: flex;
  margin: 20px 0px;
}

.place-location a{
  text-decoration: none;
  color: grey;
}

.place-city{
  display: grid;
  grid-template-columns: 15px 1fr;
  column-gap: 5px;
  margin-right: 20px;
  text-transform: uppercase;

}

.place-icon{
  width: 100%;
  filter: saturate(100%) invert(48%) sepia(88%) saturate(488%) hue-rotate(341deg) brightness(82%) contrast(94%);
}

.place-img{
  width: 100%;
  border-radius: 15px;
}

.place-date{
  margin-bottom: 15px;
  font-weight: 700;
}

hr{
  width: 700px;
  margin: 25px 0px 0px 0px;
  border: 0.5px solid #f1f1f1;
}
