*{
  margin: 0px;
  padding: 0px;
  font-family: Arial;
  color: #ffffff;
}

body{
  display: flex;
  justify-content: center;
  background-color: #2a2a2a;
  text-align: center;
}

.card{
  width: 350px;
  margin-top: 40px;
  border-radius: 10px 10px 10px 10px;
  background-color: #1a1a1a;
  box-shadow: 0px 5px 5px #000000;
}

a{
  text-decoration: none;
}

section{
  text-align: left;
  padding: 0px 15px;
}

footer{
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 0px 0px 10px 10px;
  background-color: #0a0a0a;
}

.avatar{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

h1{
  margin: 10px 0px;
}

h2{
  margin: 10px 0px;
  font-size: 15px;
  font-weight: 300;
  color: #ffd890;
}

h3{
  margin: 10px 0px;
  font-size: 12px;
  font-weight: 300;
}

h4{
  margin: 10px 0px;
  font-size: 20px;
  font-weight: 700;
}

.social-grid{
  display: flex;
  justify-content: space-around;
}

.social-button{
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 10px 0px;
  padding: 10px 10px;
  border-radius: 6px;
  border: none;
  background-color: #ffd890;
  font-weight: 700;
  color: #1a1a1a;
  cursor: pointer;
  transition: opacity 1s;
}

.social-image{
  width: 15px;
  margin-right: 5px;
}

p{
  margin: 10px 0px 20px 0px;;
  font-size: 12px;
  line-height: 1.5em;
}

.footer-button{
  width: 50px;
  margin: 10px 0px;
  padding: 11px 3px 7px 3px;
  border-radius: 25px;
  border: none;
  background-color: #2a2a2a;
  cursor: pointer;
  transition: opacity 1s;
}

.footer-button:hover, .social-button:hover{
  opacity: 0.5;
}

.footer-button:active, .social-button:active{
  opacity: 1;
}

.footer-image{
  width: 25px;
  filter: invert(100%) brightness(100%) contrast(100%);
}
